In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
#Deliverable 3, part 1: dropping STATUS column to
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# application_df = application_df.drop(columns=['EIN', 'NAME', 'STATUS'])
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.APPLICATION_TYPE.value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type[app_type < 200].index)
    
    

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
class_val = application_df.CLASSIFICATION.value_counts()
class_val.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_val[class_val < 300].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [44]:
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            7
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [45]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

/home/codespace/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/tmp/ipykernel_25634/2023052568.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(["IS_SUCCESSFUL"], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

/tmp/ipykernel_25634/309149949.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"], 1).values

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 60
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 60)                2700

 dense_7 (Dense)             (None, 25)                1525

 dense_8 (Dense)             (None, 1)                 26

=================================================================
Total params: 4,251
Trainable params: 4,251
Non-trainable params: 0
_________________________________________________________________

In [55]:
number_input_features

44

In [50]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# # Define the checkpoint path and filenames
# os.makedirs("checkpoints/",exist_ok=True)
# checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# # Create a callback that saves the model's weights every 5 epoch
# cp_callback = ModelCheckpoint(
#     filepath=checkpoint_path,
#     verbose=1,
#     save_weights_only=True,
#     save_freq= 5)

In [52]:
# Train the model   ***, callbacks=[cp_callback]***
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 1ms/step - loss: 0.5685 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7291
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7322
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7321
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7353
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7349
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7373
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7356
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7364
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7385
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7371
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7371
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7378
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7384
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7379
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7394
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7397
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7406
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7415
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7417
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7417
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7414
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7420
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7418
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7415
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7413
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7412
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7418
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7427
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7424
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7417
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7422
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7424
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7425
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7422
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7426
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7416
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7427
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7424
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7428
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7418
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7423
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7425
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7425
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7428
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7427
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7425
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7427
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7430
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7425
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7427
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7427
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7420
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7426
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7426

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5598 - accuracy: 0.7198 - 377ms/epoch - 1ms/step
Loss: 0.5598089694976807, Accuracy: 0.7197667360305786

In [54]:
# # Export our model to HDF5 file
# nn.save("trained_attrition2.h5")